button {
    font: inherit;
    margin-top: 1rem;
    background-color: #240370;
    color: white;
    border: 1px solid #240370;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }

button:hover,
button:active {
  background-color: #33059e;
  border-color: #33059e;
}